<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Adedoyin benevolent foundation.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
    .ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
        display: block;}
        

```


{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery-heading {
  text-align: center;
  color: black;
  margin: 70px 0;
  font-size: 2.5em;
}

.gallery-container {
  display: grid;
  gap: 20px;
  margin: 70px auto;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 400px); /* 200px margin on each side */
  }
}

@media (max-width: 767px) {
  .gallery-container {
    grid-template-columns: 1fr;
    width: calc(100% - 40px); /* 20px margin on each side */
  }
}
``` 
    </style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="section section-banner d-none d-xl-flex" href="https://www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )" target="_blank"><img src="images/banner/foreground-04-1600x60.png" srcset="images/banner/foreground-04-1600x60.png 1x, images/banner/foreground-04-3200x120.png 2x" alt="" width="1600" height="310"></a>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="/"><img class="brand-logo-light" src="images/logo.jpg" alt="" width="70" height="51"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/about-us">About Us</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/causes">Causes</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/contacts">Contacts</a>
                      </li>
                    </ul><a class="button button-primary button-sm" href="#">Donate</a>
                  </div>
                </div><a class="button button-primary button-sm" href="#">Donate</a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="parallax-container" data-parallax-img="images/hero1.jpg">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title">Gallery</h2>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="/">Home</a></li>
                  <li class="active">Image Gallery</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    <h1 class="gallery-heading">Gallery</h1>
<div class="gallery-container">
  <div class="gallery-item">
    <img src="images/h1.jpg" alt="Image 1">
  </div>
  <div class="gallery-item">
    <img src="images/h2.jpg" alt="Image 2">
  </div>
  <div class="gallery-item">
    <img src="images/h3.jpg" alt="Image 3">
  </div>
  <div class="gallery-item">
    <img src="images/h4.jpg" alt="Image 4">
  </div>
  <div class="gallery-item">
    <img src="images/h5.jpg" alt="Image 1">
  </div>
  <div class="gallery-item">
    <img src="images/h6.jpg" alt="Image 2">
  </div>
  <div class="gallery-item">
    <img src="images/h7.jpg" alt="Image 3">
  </div>
  <div class="gallery-item">
    <img src="images/h82.jpg" alt="Image 4">
  </div>
  <!-- Add more images as needed -->
</div>
      <!-- Page Footer-->
          <footer class="section footer-minimal context-dark">
        <div class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-50 row-lg-60">
              <div class="col-12"><a href="index.html"><img src="images/logo.jpg" alt="" width="70" height="51"/></a></div>
              <div class="col-12">
                <ul class="footer-minimal-nav">
                  <li><a href="/about-us">About Us</a></li>
                  <li><a href="/causes">Causes</a></li>
                  <li><a href="#">Gallery</a></li>
                  <li><a href="/about-us">Team</a></li>
                  <li><a href="/contacts">Contacts</a></li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="social-list">
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="#"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-pinterest-p" href="#"></a></li>
                </ul>
              </div>
            </div>
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span></span><span>.&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span>Design&nbsp;by&nbsp;<a href="https://www.easyhostnet.com/">Easyhostnet</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    
  </body>
</html>
